/**
 * A CSS file for testing purposes
 */

@import "../css/fonts.css";

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#pane{
    -fx-background-color: #ededed;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-opacity: 10;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 0 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -2 0 -2;
}

/**
.jfx-combo-box{
    -jfx-focus-color: #2c589a;
    -jfx-unfocus-color: #2c589a;
    -fx-font-size: 14;
}*/

.jfx-button,
.radio-button,
.toggle-button,
.label,
.button{
    -fx-text-fill: black;
}
/**
#comboBoxDropDown .list-cell:filled:selected:focused, .list-cell:filled:selected{
    -fx-background-color: #2c9a6e;
    -fx-text-fill: white; #5c8ad1
}
.combo-box:filled:hover{
    -fx-background-color: #2c9a6e;
    -fx-mark-color: #217b7f;
}
*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#487ccb 0%, #5c8ad1 25%, #5c8ad1 75%, #487ccb 100%);
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: black;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:even {
    -fx-background-color: white;
}
.list-cell:hover{
    -fx-background-color: red;
}

.list-cell:filled:hover{
    -fx-background-color: #487ccb;
    -fx-text-fill: white;
}

.list-view{
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 14px;
}

.jfx-radio-button{
    -jfx-selected-color: red; /* placeholder to show that it's missing color*/
    -jfx-unselected-color: yellow;
}

.jfx-button {
    -jfx-button-type: RAISED;
    -fx-background-color: red; /* placeholder to show that it's missing color*/
    -fx-font-size: 14;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: white;
    -jfx-button-ripplerFill: red;
    /*#00baff*/
}

/**
#jfxSearch{
    -fx-background-color: #2c589a;
    -jfx-rippler-fill: red;
}
#jfxUtilButton{
    -fx-background-color: #2c9a6e;
    -fx-font-size: 14;
}
#jfxSearch:hover{
    -fx-background-color: #487ccb;
}

#jfxRadioSearch{
    -jfx-selected-color: #2c589a;
    -jfx-unselected-color: #5a5a5a;
}

#jfxRadioLogin{
    -jfx-selected-color: #2c9a6e;
    -jfx-unselected-color: #5a5a5a;
}
 */